<app-base-page></app-base-page>>
<div class="container">
  <div class="divMain">
    <table>
      <tr>
        <th class="divSideCell">
          <h2 style="line-height: 30px">
            Who Am I ?
          </h2>
        </th>
        <th></th>
        <th>
          <h2 style="text-align: center">Zeyu Ma</h2>
        </th>
      </tr>
      <tr>
        <td class="divSideCell">
          During my academic studies at Cenntennial College, I have developed key
          technical skills in the area of Information Technology: from programming
          language like Java & C#, to project development methodologies such as
          Agile and Scrum. I am also familiar with Database Design and Web
          Development, experienced in HTML, CSS and JavaScript. My soft
          interpersonal skills include_loyalty, hard-working. Good at teamwork and
          communication. Great problem solving skill and out of box thinking.
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <a
              target="_blank"
              href="https://drive.google.com/open?id=1VpS-piy1s3NV9xoodrDFY_8-myvHAV1H"
              ><img
                class="divCellImg"
                src="/assets/ProfilePics/ProfilePic.JPG"
                alt=""
            /></a>
            <a
              target="_blank"
              class="myTitle"
              href="https://drive.google.com/open?id=1VpS-piy1s3NV9xoodrDFY_8-myvHAV1H"
              >Check out my resume</a
            >
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>
