<app-base-page></app-base-page>
<div class="container">
  <div class="divMain">
    <!-- Home page, later to be migrated to partials -->
    <h5 style="text-align: center">
      Software Developer is where my 3 years of Software Engineering Technology
      experience will be applied. Aiming to use my C# & Java knowledge, web &
      mobile development skills, SQL & database expertise, communication and
      teamworking qualities to deliver best work to fill Software Developer
      role.
    </h5>
    <p style="text-align: center">
      <img
        src="/assets/EnhancementPics/DecHr.png"
        alt="A decorative horizontal line"
      />
    </p>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="text-wrap" style="width: 17rem; font-size: 60px;">
            Hi, I am Zeyu Ma
          </p>
        </div>
        <div class="col-sm">
          <div class="profileCard">
            <img
              src="/assets/ProfilePics/ProfilePic.JPG"
              alt=""
              class="profilePic"
            />
            <h1>Zeyu Ma</h1>
            <p class="myTitle">Software Engineer</p>
            <p>Centennial College</p>
          </div>
        </div>
        <div class="col-sm">
          <a class="btn btn-outline-secondary" href="/about" role="button"
            >Find out more about me</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
