<app-base-page></app-base-page>>
<div class="container">
  <div class="divMain">
    <table>
      <tr style="height: 200px;">
        <th class="divSideCell">
          <h2 style="line-height: 30px">
            Projects
          </h2>
        </th>
        <th></th>
        <th>
          <h2 style="text-align: center">Zeyu Ma</h2>
        </th>
      </tr>

      <!-- Introduce Project 01 -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Tankpunk
          </h3>
        </th>
        <th></th>
        <th>
          <h3 style="text-align: center">Sample</h3>
        </th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>
            Tankpunk was a web game developed by Caminus Studio which I was a
            developer of. It is a puzzle solving game with top-down shooter
            elements.
          </p>
          <br />
          <p>
            I used my photoshop skils to create the logo for our studios. I was
            also responsible for most part of the game's presentation
          </p>
          <br />
          <p>
            As a programmer, I demonstrated great communication and teamworking
            skills, I worked closely with my teammates. Together, we were able
            to deliver this game to our audience.
          </p>
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets/SamplePics/Tankpunk/tankpunk01.JPG"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets/SamplePics/Tankpunk/tankpunk02.JPG"
              alt=""
            />
          </div>
        </td>
      </tr>
      <tr>
        <td class="divSideCell"></td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets/SamplePics/Tankpunk/tankpunk03.JPG"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets/SamplePics/Tankpunk/tankpunk04.JPG"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets/SamplePics/Tankpunk/tankpunk05.JPG"
              alt=""
            />
          </div>
        </td>
      </tr>
      <!-- End of Project 01 -->

      <!-- Division Line -->
      <tr style="height:200px;" id="FusionDrive">
        <td colspan="3">
          <img
            src="/assets/EnhancementPics/DecHr.png"
            alt="A decorative horizontal line"
          />
        </td>
      </tr>

      <!-- Introduce Project 02 -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Election Simulator
          </h3>
        </th>
        <th></th>
        <th>
          <h3 style="text-align: center">Sample</h3>
        </th>
      </tr>
      <tr>
        <td colspan="3">
          <p>
            Election Simulator is a Java Application I developed. It simulates a
            election event. Voters legitimacy, vote counts, as well as the votes
            a Candidate received, are all being tracked.
          </p>
          <br />
          <p>
            I used Java RESTful services and MySql for implementation.
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <img
            class="divCellImg"
            src="/assets/SamplePics/ElectionSimulator/Election01.JPG"
            alt=""
          />
          <img
            class="divCellImg"
            src="/assets/SamplePics/ElectionSimulator/Election02.JPG"
            alt=""
          />
          <img
            class="divCellImg"
            src="/assets/SamplePics/ElectionSimulator/Election03.JPG"
            alt=""
          />
          <img
            class="divCellImg"
            src="/assets/SamplePics/ElectionSimulator/Election04.JPG"
            alt=""
          />
        </td>
      </tr>
      <!-- End of Project 02 -->

      <!-- Division Line -->
      <tr style="height:200px;" id="FusionDrive">
        <td colspan="3">
          <img
            src="/assets/EnhancementPics/DecHr.png"
            alt="A decorative horizontal line"
          />
        </td>
      </tr>

      <!-- Introduce Project 03 -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            CourseMedic
          </h3>
        </th>
        <th></th>
        <th>
          <h3 style="text-align: center">Sample</h3>
        </th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>
            Course Medic is a web application developed to help Student's with
            difficulties with their assignments.
          </p>
          <br />
          <p>
            I was elected as the team leader, responsible for all the documents
            including pitch document, project proposal and technical report. I
            was actively organizing team meetings, encouraging and engaging in
            team meetings. I made presentation for two releases of the project.
          </p>
          <br />
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets/SamplePics/CourseMedic/coursemedic01.JPG"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets/SamplePics/CourseMedic/coursemedic02.JPG"
              alt=""
            />
          </div>

          <div style="text-align:center">
            <a
              target="_blank"
              class="btn btn-outline-secondary"
              href="https://drive.google.com/open?id=1K2jXtPEKi8rsKyT0rS23d7v39vwSbF8O"
              role="button"
              >Link to the Presentation 01</a
            >
            <a
              target="_blank"
              class="btn btn-outline-secondary"
              href="https://drive.google.com/open?id=1iSnncBMjn3_RUOUldH_-yav4alGugSoh"
              role="button"
              >Link to the Presentation 02</a
            >
          </div>
        </td>
      </tr>
      <!-- End of Project 03 -->
    </table>
  </div>
</div>
