<app-base-page></app-base-page>>
<div class="container">
  <div class="divMain">
    <table>
      <tr style="height: 200px;">
        <th class="divSideCell">
          <h2 style="line-height: 30px">
            Services I provide
          </h2>
        </th>
        <th></th>
        <th>
          <h2 style="text-align: center">Zeyu Ma</h2>
        </th>
      </tr>
      <!-- Services -->

      <!-- Networking -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Networking
          </h3>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>&bull; Configure Cisco routers and connect local PCs</p>
          <p>&bull; Familiar with modern network concept</p>
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets\ServicePics\services01.jpg"
              alt=""
            />
          </div>
        </td>
      </tr>
      <!-- Networking -->

      <!-- Division Line -->
      <tr style="height:200px;" id="FusionDrive">
        <td colspan="3">
          <img
            src="/assets/EnhancementPics/DecHr.png"
            alt="A decorative horizontal line"
          />
        </td>
      </tr>

      <!-- Programming -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Programming
          </h3>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>&bull; Java</p>
          <p>&bull; C#</p>
          <p>&bull; HTML & CSS</p>
          <p>&bull; JavaScript</p>
          <p>&bull; ASP.NET Core</p>
          <p>&bull; Database & SQL</p>
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets\ServicePics\services02.png"
              alt=""
            />
          </div>
        </td>
      </tr>
      <!-- Programming -->

      <!-- Division Line -->
      <tr style="height:200px;" id="FusionDrive">
        <td colspan="3">
          <img
            src="/assets/EnhancementPics/DecHr.png"
            alt="A decorative horizontal line"
          />
        </td>
      </tr>

      <!-- Operation System -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Operation System
          </h3>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>&bull; Microsoft Windows</p>
          <p>&bull; Linux</p>
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets\ServicePics\services03.png"
              alt=""
            />
          </div>
        </td>
      </tr>
      <!-- Operation System -->

      <!-- Division Line -->
      <tr style="height:200px;" id="FusionDrive">
        <td colspan="3">
          <img
            src="/assets/EnhancementPics/DecHr.png"
            alt="A decorative horizontal line"
          />
        </td>
      </tr>

      <!-- Applications -->
      <tr>
        <th class="divSideCell">
          <h3 style="line-height: 30px">
            Applications
          </h3>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="divSideCell">
          <p>&bull; Microsoft Office Suite</p>
          <p>&bull; Visual Paradigm</p>
          <p>&bull; Adobe Photoshop</p>
        </td>
        <td class="divMidCell"></td>
        <td class="divSideCell">
          <div class="profileCard">
            <img
              class="divCellImg"
              src="/assets\ServicePics\services04.png"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets\ServicePics\services05.png"
              alt=""
            />
            <img
              class="divCellImg"
              src="/assets\ServicePics\services06.png"
              alt=""
            />
          </div>
        </td>
      </tr>
      <!-- Applications -->
    </table>


  </div>
</div>
